<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Miaou, félicitation pour votre achat  !</h1>

    <p>
      Bonjour <%= @user %>,
    </p>

    <p>
      Voici le contenu de votre commande : <%= @order.items %> !
    </p>
    <p>
      La totalité de votre commande est disponible au télechargement dès à présent ci-dessous :

      <%#liens des photos de la commande%> 
    </p>

    <p> 
      Cordialement,
    </p>

    <p> 
      Votre équipe Gestion des achats
    </p>
  </body>
</html> 