<h1>Mon Panier</h1>
<ul>
  <% @items.each do |item| %>
    <li>
      <p><%= item.title %></p>
      <p><%= image_tag(item.photo) if item.photo.present? %></p>
      <p><%= number_to_currency(item.price) %></p>
      <%# TODO: bouton supprimer CartItem %>
      
    </li>
  <% end %>
</ul>


