



/*--------------------------------------------------------------
Navbar
--------------------------------------------------------------*/

/* Logo navbar */
.main-logo img {
  width: 80px; 
} 




/*--------------------------------------------------------------
TOP Banner
--------------------------------------------------------------*/


/* kitten picture top banner */
#banner .img-wrapper img {
  max-width: 200%; 
}





/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/


/* Logo footer */
.main-logo img {
  width: 80px; 
} 