



/*--------------------------------------------------------------
Navbar
--------------------------------------------------------------*/

/* Logo navbar */
.main-logo img {
  width: 80px; 
} 




/*--------------------------------------------------------------
Top Banner
--------------------------------------------------------------*/


/* kitten picture top banner */
#banner .img-wrapper img {
  max-width: 200%; 
}


/*--------------------------------------------------------------
Bottom Banner
--------------------------------------------------------------*/

.kitten-img {
  margin-left: 1px;
  
}


/*--------------------------------------------------------------
Shop
--------------------------------------------------------------*/




/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/


/* Logo footer */
#footer img {
  width: 80px; 
  height: auto; 
}